{% extends 'accounts/main.html' %}

{% block content %}

<br/>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PRODUCTS</h5>
                    <p class="card-text">
                        <!--<button type="button" class="btn btn-outline-secondary">Create Order</button>-->
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

