<br/>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center text-white" id="total-orders">
                <div class="card-header"> TOTAL ORDERS </div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_orders }}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white" id="order-delivered">
                 <div class="card-header"> ORDER DELIVERED </div>
                <div class="card-body">
                    <h5 class="card-title">{{ delivered }}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center text-white" id="order-pending">
                 <div class="card-header"> ORDER PENDING </div>
                <div class="card-body">
                    <h5 class="card-title">{{ pending }}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>